<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0b3d6d23-4b59-4853-a15d-9af3307ef890/resourcegroups/Default-ApplicationInsights-CentralUS/providers/Microsoft.Web/sites/Cytaty</ResourceId>
    <ResourceGroup>Default-ApplicationInsights-CentralUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cytaty.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cytaty.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Cytaty</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Cytaty</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=dbinstace01.chkr9efqmbxb.eu-west-1.rds.amazonaws.com;Initial Catalog=aspnet-Cytaty-20190103115348;User ID=BazaUser;Password=614ca423ab622db09334d616468baedb" Name="data source=dbinstace01.chkr9efqmbxb.eu-west-1.rds.amazonaws.com;initial catalog=aspnet-Cytaty-20190103115348;user id=BazaUser;password=614ca423ab622db09334d616468baedb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Cytaty.Models.ApplicationDbContext, Cytaty" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Cytaty.Models.CytatyConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=dbinstace01.chkr9efqmbxb.eu-west-1.rds.amazonaws.com;Initial Catalog=Cytaty;User ID=BazaUser;Password=614ca423ab622db09334d616468baedb" Name="data source=dbinstace01.chkr9efqmbxb.eu-west-1.rds.amazonaws.com;initial catalog=Cytaty;user id=BazaUser;password=614ca423ab622db09334d616468baedb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Cytaty.Models.CytatyConnection, Cytaty" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Cytaty.Models.CytatyConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>data source=dbinstace01.chkr9efqmbxb.eu-west-1.rds.amazonaws.com;initial catalog=Cytaty;user id=BazaUser;password=614ca423ab622db09334d616468baedb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionBazaCytaty-Web.config Connection String">
      <ParameterValue>metadata="res://*/Models.Cytaty Model.csdl|res://*/Models.Cytaty Model.ssdl|res://*/Models.Cytaty Model.msl";provider=System.Data.SqlClient;provider connection string="data source=dbinstace01.chkr9efqmbxb.eu-west-1.rds.amazonaws.com;initial catalog=Cytaty;user id=BazaUser;password=JmOAjDhzjgR6yMKHsB2z;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CytatyConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=dbinstace01.chkr9efqmbxb.eu-west-1.rds.amazonaws.com;initial catalog=aspnet-Cytaty-20190103115348;user id=BazaUser;password=614ca423ab622db09334d616468baedb</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>