@{
    ViewBag.Title = "Uwagi, pomysły, sugestie...";
}
<h2>@ViewBag.Title. </h2>



<address>
    <strong>Napisz do mnie:</strong>   <a href="mailto:ola.jezewska@gmail.com">ola.jezewska@gmail.com</a><br />
</address>