@*nie jest zlinokwane w koncu*@

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2 class="podtytul-stronaglowna"> Znajdź swój cytat</h2>





    <p>
    Wpisz myśliciela lub słowo kluczowe.</p>
    <p>


    </p>
</div>

<div class="row">
  
   
</div>