@model Cytaty.Models.ZapytanieWyszukiwarka


@{
    ViewBag.Title = "Wyszukiwarka";
}

<h2 class="podtytul-stronaglowna">
    Wyszukiwarka cytatów.
</h2>



@* formularz!!!! *@

@using (Html.BeginForm())
{

    @*zabezpieczenie przed atakami*@
    @Html.AntiForgeryToken()


<div class="wyszukiwarka-edit">
   
    @Html.EditorFor(model => model.zapytanie, new { htmlAttributes = new { @class = "form-control ola" } })

</div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Szukaj" class="btn btn-default" />
        </div>
    </div>

}



